
# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
twitterkeys.py
dist/
*.egg-info
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
.vscode/
build